# 1. BOOLEANS

In [9]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.
True

True

In [10]:
False

False

In [11]:
stock_1_price = 100
stock_2_price = 200
print(stock_1_price == stock_2_price)

False

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [12]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [13]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [14]:
# Obtain the datatype
type(my_list)

list

In [16]:
# list with mixed datatypes (for example you can have strings and integers in one list)
my_list = [2, 'GOOG', 5]
my_list

[2, 'GOOG', 5]

In [17]:
type(my_list)

list

In [18]:
# You can have a list inside another list (nested list)
my_list = ['GOOG', [3, 6, 7]]
my_list

['GOOG', [3, 6, 7]]

In [24]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
my_list[0]
my_list[1][2]

7

In [25]:
# indexing for nested lists
my_list = ['GOOG', [3, 6, 7], ['APPL', 5, 6]]
my_list[2][0]

'APPL'

In [26]:
my_list[1][1]

6

In [27]:
my_list[2]

['APPL', 5, 6]

In [32]:
# Negative Indexing
my_list[-1][-3]

'APPL'

In [33]:
# List Slicing (getting more than one element from a list) 
my_list = [2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]
# obtain elements starting from index 3 up to and not including element with index 6  
my_list[3:6]

['GOOG', 'SP500', 'AMZN']

In [34]:
# Obtain elements starting from index 3 to end
my_list[3:]

['GOOG', 'SP500', 'AMZN', 15]

In [35]:
# All elements start to end
my_list[:]

[2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

In [37]:
# Obtain the length of the list (how many elements in the list) 
len(my_list)

7

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [42]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
stocks[:2]

['GOOG', 'TSLA']

In [46]:
stocks[-1]
stocks[:]
stocks[:3]
stocks[-3:]

['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [52]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
my_list[1][1]
my_list[1]
my_list[-1]
my_list[len(my_list)-1]

'T'

# 3. DICTIONARY

In [53]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs
my_dict = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': 'value3'
}

In [54]:
# View the dictionary
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [55]:
# Check the data type
type(my_dict)

dict

In [57]:
# Access specific element in the dictionary using a specific key (ex: Key2)
my_dict['key2']

'value2'

In [59]:
# Define a dictionary for a bank client listing all his/her assets! 
client_dict = {
    'Real estate': 150000,
    'stocks': 10000,
    'savings': 20000
}
client_dict

{'Real estate': 150000, 'savings': 20000, 'stocks': 10000}

In [60]:
# Access elements in the dictionary
client_dict['stocks']

10000

In [64]:
# Add a new item to an existing dictionary
client_dict['Cryto'] = 1500
print(client_dict)

{'Real estate': 150000, 'stocks': 10000, 'savings': 20000, 'Cryto': 1500}

In [65]:
# remove an item from the dictionary
del client_dict['savings']
print(client_dict)

{'Real estate': 150000, 'stocks': 10000, 'Cryto': 1500}

In [66]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del client_dict

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [68]:
fav_stocks = {
    'Apple' : 1500,
    'Xiomi': 1200,
    'Lenovo': 1000
}
print(fav_stocks)

{'Apple': 1500, 'Xiomi': 1200, 'Lenovo': 1000}

# 4. STRINGS

In [69]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
my_str = 'Hello Everyone and Welcome to Python for finance course!'
my_str

'Hello Everyone and Welcome to Python for finance course!'

In [70]:
# Obtain the datatype
type(my_str)

str

In [72]:
# Combining two strings together (Let's combine the first and last name of a bank's client)
first_name = 'Yashan'
second_name = 'Mick'
full_name = first_name + ' ' + second_name
full_name

'Yashan Mick'

In [ ]:
# You can combine both strings together and add spaces in between

'Laila Aly'

In [74]:
# Methods on strings 
# upper will be used to convert the string into upper case
my_str.upper()

'HELLO EVERYONE AND WELCOME TO PYTHON FOR FINANCE COURSE!'

In [79]:
# Split us used to divide up the string into words 
# The output from split is a list
x = my_str.split()
x

['Hello',
 'Everyone',
 'and',
 'Welcome',
 'to',
 'Python',
 'for',
 'finance',
 'course!']

In [77]:
# Let's check that the datatype is list!
type(x)

list

In [78]:
# you can index any element in the list using indexing
x[1]

'Everyone'

In [86]:
# you can specify which letter could be choosed to perform the split
my_string = 'yasha.mick@gmail.com'
z = my_string.split('@')
z

['yasha.mick', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [88]:
my_string = str(input('What service you get today? and are you satisfied with the service? '))
data = my_string.split(' ')
print('Here are the list of words you entered: ', data)

What service you get today? and are you satisfied with the service? I obtained a mortgage from you. The service is fair.
Here are the list of words you entered:  ['I', 'obtained', 'a', 'mortgage', 'from', 'you.', 'The', 'service', 'is', 'fair.']

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [92]:
email = str(input('Please enter your email (username@gmail.com)'))
username = email.split('@')[0].split('.')[0]
username

Please enter your email (username@gmail.com)yashan.mick@gmail.com

'yashan'

# 5. TUPLES

In [93]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [94]:
tuple_1 = ('GOOG', 'APPL', 10, 15, 1995)
tuple_2 = (450,55,45,2000)
type(tuple_1)

tuple

In [95]:
tuple_1[1]

'APPL'

In [96]:
# Accessing elements in a tuple
tuple_1[1]

'APPL'

In [97]:
# Tuple slicing
tuple_1[1:3]

('APPL', 10)

In [ ]:
# Changing a vlue of a tuple does not work! 
# 'tuple' object does not support item assignment

TypeError: ignored

In [98]:
# Create a New Tuple from existing Tuples
tuple_3 = tuple_1 + tuple_2
tuple_3

('GOOG', 'APPL', 10, 15, 1995, 450, 55, 45, 2000)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [99]:
my_details = ('Yashan', 'Mick', 25, 1500)
len(my_details)

4

# 6. SETS

In [ ]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

{'GOOG', 'T', 'APPL'}

In [ ]:
# set do not have duplicates

{'T', 'APPL', 'GOOG', 'TSLA', 'AAPL'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [ ]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [ ]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [ ]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [ ]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [ ]:
print(my_list[1][1])

GOOG

In [ ]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [ ]:
print(my_list[3])

T

In [ ]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [ ]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [ ]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service"))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

What did we do at the bank today? are you satisfied with the serviceMy experience today was positive, the service is perfect! great job everyone
Here are the list of words you entered: ['My', 'experience', 'today', 'was', 'positive,', 'the', 'service', 'is', 'perfect!', 'great', 'job', 'everyone']

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [ ]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

Enter your e-mail address:ryan.ahmed@yahoo.com
ryan

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [ ]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

('Ryan', 'ahmed', 25, 10)

In [ ]:
len(my_tuple)

4

In [ ]:
type(my_tuple)

tuple

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [ ]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)

[5, 6, 'T', 'APPL', 'GOOG', 'TSLA', 'AAPL']