# 1. COMPARISON OPERATORS

In [3]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is stock_1_price equals stock_2_price or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 
stock_1_price = 2000
stock_2_price = 1500

stock_1_price == stock_2_price

False

In [4]:
# Greater than or equal operator '>='
stock_1_price >= stock_2_price

True

In [ ]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in stock_1_price)

In [5]:
x = 10
x

10

In [9]:
# Comparison operators work with strings as well
'Finance' == 'Finance'

True

In [10]:
# Both strings have to exactly match (lower case vs. upper case)
'Finance' == 'finance'

False

In [11]:
# Not equal comparison operator '!='
stock_1_price != stock_2_price

True

**MINI CHALLENGE #1:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price) 
```

In [12]:
stock_1_price = 15
stock_2_price = 10
 
print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)

False
True
True
False

# 2. LOGICAL OPERATORS

In [13]:
# For "and" logical operators, both arguments must be "True" in order for the output to be "True" 
# (Note that this is the only case in which the 'and' logical operator generates a True output)
# 1 and 1 = 1
True and True

True

In [14]:
# 0 and 1 = 0
True and False

False

In [15]:
# 0 and 0 = 0
False and False

False

In [16]:
# For "or" logical operators, if any one of the arguments is "True", the output will be "True" 
# 1 or 1 = 1
True or True

True

In [17]:
# 1 or 0 = 1
True or False

True

In [18]:
# 0 or 1 = 1
False or True

True

In [19]:
# 0 or 0 = 0 (Note that this is the only case in which the 'or' logical operator generates a False output)
False or False

False

In [20]:
 # True and False = False 
(10 > 3) and (9 == 5)

False

In [21]:
# True or False = True
(10 > 3) or (9 == 5)

True

**MINI CHALLENGE #2:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20)) 
```

```
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25)) 
```

In [23]:
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20)) 
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))

False
True

**MINI CHALLENGE #3:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

In [24]:
a = 5
b = 3.5
 
print(a == b or a != b) 
print(a == b and a != b)

True
False

# 3. CONDITIONAL STATEMENTS

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [27]:
if 10>9:
  print('If condition is True')
else: 
  print('If condition is False')

If condition is True

In [28]:
if 8>9:
  print('If condition is True')
else: 
  print('If condition is False')

If condition is False

In [29]:
a = 8
b = 9

if a==b:
  print('Two numbers are equal')
elif a>b: 
  print('a is greater than b')
else:
  print('a is less than b')

a is less than b

First statement is true

In [32]:
# Let's take an input from the user and grant or deny access accordingly
username = str(input('Enter your username : '))
if username.upper() == 'RYAN':
  print('Access granted')
else:
  print('Access denied')

Enter your username : ryan
Access granted

In [ ]:
# Let's make the code more robust (case insensitive)

Enter your username:RYAN
Access granted

**MINI CHALLENGE #4:**
- **Write a code that takes a number from the user and indicates if it's positive or negative**

In [35]:
num = int(input('Please enter a number: '))

if num>0:
  print('Positive')
elif num==0:
  print('Nutral')
else:
  print('Negative')

Please enter a number: 0
Nutral

**MINI CHALLENGE #5:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

In [38]:
num = int(input('Please enter a number : '))

if ((num%7)!=0) and (num%3 < 2):
  print('The {} is divisible by 3, but is not a multiple of 7'.format(num))
else:
  print('False')

Please enter a number : 18
The 18 is divisible by 3, but is not a multiple of 7

**MINI CHALLENGE #6:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**

In [39]:
num = int(input('Please enter a number : '))

if (num%2==0):
  print('Even')
else:
  print('Odd')

Please enter a number : 5
Odd

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price) 
```

In [ ]:
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)

False
True
True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print( 'Finance'!='FINANCE' and (10 > 3) and (20 == 20)) 
```

```
print( 'Finance'!='FINANCE' or (16 > 20) or (25 == 25)) 
```

In [ ]:
# FALSE and TRUE and TRUE
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20))

False

In [ ]:
# TRUE or FALSE or TRUE
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))

True

**MINI CHALLENGE #3 SOLUTION:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

In [ ]:
a = 5
b = 3.5

print(a == b or a != b) # False or True = True 
print(a == b and a != b) # False and True = False

True
False

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that takes a number from the user and indicates if it's positive or negative or zero**

In [ ]:
x = int(input("Please enter an integer: "))

if x < 0:
    print('Number is Negative')
elif x > 0:
    print('Number is Positive')
else:    
    print ('Number is zero')

Please enter an integer: 9
Number is Positive

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

In [ ]:
# Try 21

i = int(input("Enter a number between 1 and 100:"))

if (i % 3 == 0) and (i % 7 !=0):
    print("Number satisfies the requirement; The number is divisible by 3 and not multiple of 7")
else:
    print("The number does not satisfy the requirements")

Enter a number between 1 and 100:21
The number does not satisfy the requirements

**MINI CHALLENGE #6 SOLUTION:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**

In [ ]:
x = int(input("Please enter an integer from 1 to 1000: "))

if x % 2==0:
    print('Number is Even')
else:
    print('Number is odd')

Please enter an integer from 1 to 1000: 50
Number is Even